# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf  # Unix-style
insert_final_newline = true
indent_style = spaces
indent_size = 4


[package.json]
# NPM doesn't give us any choice really.
indent_size = 2
