body {
    background-color: #221612;

    #overlay {
        position: absolute;
        left: 50%;
        margin-left: -479px;
        margin-top: -10px;
    }

    #phaser canvas {
        border: 1px solid #424242;
        border-radius: 3px;
        margin: auto;
        margin-top: 188px;
    }
}
